<h1>Artists</h1>
<% @artists.each do |artist| %>
  <div class="artist">
    <li><%= artist.name %>: <%= artist.song_count %> song</li>
  </div>
  <div class="song-count">
    <%= pluralize(artist.song_count, 'song') %>
  </div>
  <% end %>
